.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F9F9F9;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.header {
  display: flex;
  justify-content: end;
  padding: 20px 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.history_title {
  font-size: 20px;
  line-height: 26;
  line-height: 2px;
  font-weight: 500;
  color: #6C63FF;
}

.history_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 20px;
  border-radius: 20px;
  min-height: 400px;
  padding: 40px;
}

.history_card > svg {
  margin-top: 100px;
}

.history_card p {
  color: #B6B6B6;
}

.history_table {
  width: 100%;
  border-collapse: collapse
}

.history_table th {
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #E4E4E4;
}

.history_table td {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #E4E4E4;
}



.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.form_title {
  font-size: 20px;
  line-height: 26;
  line-height: 2px;
  font-weight: 500;
  color: #6C63FF;
}

.form_card {
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
}


.form_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_input label {
  font-size: 14px;
  letter-spacing: 2px;
}

.form_input input {
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
}

.form_input textarea {
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
  height: 200px;
}

.form_footer {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}